#box1{
	background-color:red;
		}
	
		#box2
		{
	background-color: blue;
	
		}
		#box3
		{
	background-color:green;
	
		}
		#box4
		{
	background-color:rgb(182, 255, 182);
	
		}
		#box5
		{
	background-color:rgb(255, 166, 0);
	
		}
		#box6
		{
	background-color:rgb(51, 255, 0);
	
		}
		#box7
		{
	background-color:rgb(238, 85, 111);
	
		}
		#box8
		{
	background-color:rgb(155, 13, 13);
	
		}
		#box9
		{
	background-color:hsl(199, 100%, 51%);
	
		}
	
	.common
		{
	width:100px;
	height:200px;
	border-color:rgb(24, 24, 24);
	border-style:solid;
	border-width: 1px;
		}
	
	/* #parent >div
		{
	float:left;
	clear:none;
	margin-left:10px;
		} */

	#parent {
		width: 800px;;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    background-color: #333;
	margin-left: 245px;
}
	

	.common{
		/* display: flex; */
		width: 180px;
		height: 143px;
		background-color: white;
		color: black;
		font-size: 60px;
		text-align: center;
		line-height: 140px;
		
		
		
		/* border-radius: 20px; */
		margin: 10px;
		margin-left: 10px;
		cursor: move;
		/* text-align: center; */
		/* align-items: center; */
	}

	*{
		/* background-color: yellow; */
	}
	#time{
		margin-left: 853px;
		margin-top: -30px;
		font-size: 35px;
	}